JSD_AIRD_DATASOURCE_URL=jdbc:postgresql://localhost:5432/jsd_aird
JSD_AIRD_DATASOURCE_USERNAME=jsd_aird
JSD_AIRD_DATASOURCE_PASSWORD=jsd_aird_dev
SERVER_PORT=8080
JSD_AIRD_ALLOWED_ORIGINS=http://localhost:5173

